 

  .image-container:hover {
      cursor: pointer;
      transform: scale(1.1);

  }
  .image-container:hover .overlay{
      opacity: 1
  }
  .overlay{
      position: absolute;
      background: rgba(0,0,0,0.8);
      width: 100%;
      transition: 0.5s ease-out;
      opacity: 0;
      font-size: 20;
      text-align: center;
  }
  .like-button{
      padding-top: 20px;
  }
  /* .card_header{
      padding-bottom: 90px;
  }  */
  