.like-page{
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url(../images/jeremy-thomas-E0AHdsENmDg-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.like-page h1{
    color: white;

}
.centered {
    margin: 3rem auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }